COMPOSE_PROJECT_NAME=assesment-march-2024
PROJECT_NAME=assement-march
CONTAINER_ID_NAME="assesment-said"

# POSTGRES API DB
POSTGRES_DB_PORT=5430
POSTGRES_DB_EXPOSE_PORT=5430
POSTGRES_DB_API=postgres_assesment
POSTGRES_DB_API_USER=user
POSTGRES_DB_API_PASSWORD=password